<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<!--<add name = "BankTron" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=BankTron;Integrated Security=True"/>-->
		<!--<add name = "TravelExperts" connectionString="Data Source=localhost\sqlexpress;Initial Catalog=TravelExperts;Integrated Security=True"/>-->
		<add name="BankTronSQLiteDB" connectionString="Data Source=.\BankTronDB.db;Version=3;" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
	
</configuration>